<div class="content">
    <div id="whole_form">
        <h1>Contact</h1>
        <div id="contact_grid">
            <form>
                <input type="text" placeholder="NAME" required>
                <input type="text" placeholder="EMAIL" required>
                <textarea placeholder="MESSAGE"></textarea>
                <button type="submit">Send</button>
            </form>

            <div id="contact">

                <div class="cont">
                    <img src="/images/location.png">
                    <p><a  id="links" href="https://www.google.co.in/maps/place/Quepem,+Goa/@15.2086155,74.0575658,13.74z/data=!4m5!3m4!1s0x3bbfad2669997ce7:0xf18f9dea30022a04!8m2!3d15.2281854!4d74.0646984" target="_blank">Quepem, Goa</a></p>
                </div>

                <div class="cont">
                    <img src="/images/mail.png">
                    <p><a id="links" href="mailto:jesterfigueire1@gmail.com">jesterfigueiredo1@gmail.com</a></p>
                </div>

                <div class="cont">
                    <img src="/images/phone.png">
                    <p>+91 9067854772</p>
                </div>

            </div>


            <div>
            
                <hr>
                <div id="socials">
                    <div class="acc">
                        <img src="/images/github.png">
                    </div>

                    <div class="acc">
                        <img src="/images/linkedin.png">
                    </div>
                    

                    <div class="acc">
                        <img src="/images/twitter.png">
                    </div>
                    

                    <div class="acc">
                        <img src="/images/instagram.png">
                    </div>
                </div>
                <hr>
            </div>

        </div>        
    </div>
</div>


<link rel="stylesheet" href="/css/contact.css">