<script>hey</script>
<link rel="stylesheet" href="/css/index.css">

<img src="/images/coding.png" width="400px" height="350px">
<p id="home_text">Hi,</p>
<p id="home_text">I'm Jester,</p>
<p id="home_text">Web developer</p>

    