<div class="content">
    <section class="left">
        <div id="Home_page_text">
            <p>Hi, my Name is</p>
            <h1 id="name">Jester Figueiredo</h1>
            <h2>I like to build things for the web.</h2>
            <p id="para">This is some random text that can be omitted later
                but for now I would like to keep it just for testing purpose
            </p>
        </div>
    </section>

    <section class="right">

        <div id="eyes">
            <div id="left" >
                <div class="dot">
                </div>
            </div>

            <div id="right">
                <div class="dot">
                </div>
            </div>

        </div>

        <div id="home_page_img">
            <img src="/images/Avatar.png">
        </div>
    </section>
   


<link rel="stylesheet" href="/css/index.css">
<script src="/js/index.js"></script>
