<div class="content">
    <section class="left">
        <div id="Home_page_text">
            <p>Hi, my Name is</p>
            <h1 id="name">Jester Figueiredo</h1>
            <h2>I like to build things for the web.</h2>
            <p id="para">This is some random text that can be omitted later
                but for now I would like to keed it just for testint purpose
            </p>
        </div>
    </section>

    <section class="right">

        <div id="eyes">
            <div id="left" class="dot">
            </div>
            <div id="right" class="dot">
            </div>
        </div>

        <div id="home_page_img">
            <img src="/images/Avatar.png" width="200px" height="200px">
        </div>
    </section>
   


<link rel="stylesheet" href="/css/index.css">
<script></script>
