<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/layout.css">
    <link rel="stylesheet" href="/css/common.css">
    <title>Jester</title>
    <link rel="icon" href="/images/logo.png" type="image/icon type">
    <%- style %> 
</head>
<body>
    <div class="container">
        <header>
            <div>
            <img  id="logo" src="/images/logo.png" height="60px" width="100px">
            <a href="#" id="toggle">
                <span class="bar"></span>
                <span class="bar"></span>
                <span class="bar"></span>
            </a>
            </div>
            <nav>
                <ul id="nav_list">
                    <li><a href="/">Home</a></li>
                    <li><a href="projects">Projects</a></li>
                    <li><a href="about">About me</a></li>
                    <li><a href="/contact">Contact</a></li>
                </ul>
            </nav>
        </header>

    <%- body  %> 
    <%- script  %>
    <script src="js/hamburger.js"></script>
</body>
</html>