*{
    margin: 0px;
    border: 0px;
    padding: 0px;
}
body{
    height: 100vh;
    background-image: url('/images/construction.png');
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center;
}