body{
    margin: 0px;
    border:0px;
    font-size: 15px;
    
}

/* The code below is for navigation bar */
header{
  display: flex;
  justify-content: space-between;
  align-items: center;

}

#nav_list{
  list-style: none;
}

#nav_list li{
  display:inline-block;
  padding-right: 30px;
  border: 0px;
  margin: 0px;
}



/* The code above if for navigation bar */











